@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  position: relative;
  background: url("../images/notice.jpg");
  width: 250px;
  height: 375px;
  padding: 100px 50px;
  border: 1px solid #333;
}
.close{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

